<!DOCTYPE html5>
<html lang="en">
<head>
    <title>Cryptocurrency Mining</title>
    <script type="text/javascript" script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var isBusy = false;
            var socket = io.connect("http://localhost:5000/");
            
            //Connect to server
            socket.on("connect", function(){
                socket.emit("connection", "User Connected!");
            });

            //Receive work from server
            socket.on("payload_in", function(pl){
                //call hashing function/check hash/update count
                var decoded = decodeMess(pl);
                var start = decoded[0];
                var end = decoded[1];
                var tar = decoded[2];
                var base = decoded[3];
                document.write(start, end, tar, base);
            });
            
            //Click to start calculating proof-of-work
            $("#start").on("click", function(){
                socket.emit("payload", "open");
            });

            //Write decode message function
            function decodeMess(msg){
                var split_msg = msg.split('-');
                //document.write(split_msg);
                var start_hash = parseInt(split_msg[0]);
                var end_hash = parseInt(split_msg[1]);
                var target = parseInt(split_msg[2]);
                var base_str = split_msg[3];
                return [start_hash, end_hash, target, base_str];
            }

            function check_hash(hashcode, target){
                for (var i = 0; i < hashcode.length; i++){
                    document.write(hashcode[i]);
                }
            }

            function proof_of_work(src, dest, tar, base){
            }
    });
    </script>
    <button id="start">Start Mining</button>
    <ul id="payloads"></ul>
</body>
</html>